.class1
{
    font-size:xx-large;
    width:50%;
    float:right;
}
.class2
{
    width:50%;
    float:center;
}
h1 
{
    width: 100%;
    text-align: center;
    text-decoration:dotted;
    background-color:aqua;
    
}
table {
    border:double;
    padding:50px;
    margin:150px;
}
body{
    background-color:whitesmoke;
}